*migrations*
*pycache*
volumes*
db.s*
*sqlite*
*.log
.vscode
*Snapshots*
*coverage*
*html*
.DS_Store
*coverage*
*node_modules*
*TestUser*
frontend/node_modules/
node_modules/

celery-beat-schedule
celerybeat-schedule
django-selfsigned*
cookies*