Django==5.0.7
logstash-formatter
python-json-logger
django-prometheus
metrics
web3==7.3.0
eth_account==0.13.4
# needed to intereact with PostGreeSql
psycopg==3.2.1

celery==5.3.6
redis==5.0.1
flower==2.0.1